<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>管理员维护页面</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->


	</head>

	<body>
		<table class="layui-hide" id="rolelist" lay-filter="rolelist"></table>
		<!-- 用来接受另一个页面传入的参数 -->
		<input type="hidden" name="userId" th:value="${userId}" id="userId" />
		<!--头部工具栏-->
		<script type="text/html" id="toolbarModify">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
				<button class="layui-btn layui-btn-sm" lay-event="deleteRoles">删除选中行数据</button>
				<button class="layui-btn layui-btn-sm" lay-event="isAll">是否全选</button>
			</div>
		</script>
		<!--行内工具栏-->
		<script type="text/html" id="modifyTable">
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>

		<script>
			layui.use(['table', 'form'], function() {
				var table = layui.table,
					form = layui.form;
				var userId = $("#userId").val();

				ptable = function() {
					table.render({
						elem: '#rolelist',
						url: 'findUserRolesByUserId?userId=' + userId,
						toolbar: '#toolbarModify',
						title: '用户角色表',
						method: 'GET',
						cols: [
							[{
								type: 'checkbox'
							}, {
								field: 'roleId',
								title: 'ID',
								// width: 80,
								unresize: true,
								sort: true
							}, {
								field: 'roleName',
								title: '角色名',
								// width: 120
							}, {
								field:'users',
								templet:'<div>{{d.users.userId}}</div>',
								hide:true
							}, {
								title: '角色编辑',
								// width: 200,
								align: 'center',
								toolbar: '#modifyTable'
							}]
						]
					});
				};

				ptable();



				//头工具栏事件
				table.on('toolbar(rolelist)', function(obj) {
					var checkStatus = table.checkStatus(obj.config.id);
					switch (obj.event) {
						case 'add':
							layer.open({
								type: 2,
								area: ['300px', '300px'],
								title: '添加角色',
								shade: 0.6,
								anim: 2,
								content: 'toAddminAddRoles?userId=' + userId,
								yes: function(layero, index) {
									alert(1111);
									$(layero).find("input").each(function(i, v) {
										alert($(v).text());
									});
									layer.close(index);
								}
							});
							break;
						case 'deleteRoles':
							var data = checkStatus.data;
							if (data.length > 0) {
								$.ajax({
									url: 'deleteRoles',
									type: 'POST',
									data: JSON.stringify(data),
									contentType: "application/json;charset=UTF-8",
									success: function() {
										layer.msg("删除成功！", {
											icon: 6,
											time: 1000
										});
										ptable();
									}
								});
							} else {
								layer.msg("请选择需要删除的对象！", {
									icon: 7,
									time: 1000
								});
							}

							break;
						case 'isAll':
							layer.msg(checkStatus.isAll ? '全选' : '未全选');
							break;
					};
				});

				//监听表格中的工具条
				table.on('tool(rolelist)', function(obj) {
					var data = obj.data,
						$ = layui.$;
						if (obj.event === 'del') {
							layer.confirm('真的删除行么', function() {
								$.ajax({
									url: 'deleteRole',
									type: 'POST',
									data: {
										"roleId": data.roleId,
										"userId": userId
									},
									success: function() {
										layer.msg("删除成功！", {
											icon: 6,
											time: 1000
										});
										ptable();
									}
								});
							}, function() {
								layer.msg("取消修改", {
									icon: 2,
									time: 2000
								});
								ptable();
							});
						};
					});

			});
		</script>
	</body>

</html>
