.grid-demo {
    text-align: center;
    background-color: #f5f6f7;
}

.grid-demo a cite {
    font-size: 12px;
    display: block;
    font-style: normal;
}

.grid {
    text-align: center;
    background-color: #f8f8f8;
}

.grid cite {
    font-size: 13px;
    display: block;
    font-style: normal;
    background-color: #c7d2dd;
    padding: 3px;
    width: 50%;
    text-align: center;
    margin-left: 30px;
}

.panel_word {
    width: 60%;
    display: inline-block;
    float: bottom;
    margin-top: 3px;
    border: #40AFFE;
}

.panel_word span {
    font-size: 25px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.panel_word2 {
    width: 60%;
    display: inline-block;
    float: bottom;
    margin-top: 3px;
    border: #40AFFE;
}

.panel_word2 span {
    font-size: 25px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.pressBut {
    text-align: center;
    width: auto;
    height: 30px;
    font-size: 16px;
    padding: 5px 8px;
    transform: none;
    border: none;
    margin: 0 1px;
    background-color: #f7f7f7;
    color: #666666;
    cursor: pointer;
}

.pressBut.active {
    background-color: #f1f5ff;
    color: #76b4ff;
}

/*layui 表头居中*/
.layui-table-view .layui-table th {
    text-align: center;
}
/*layui layer 标题居中*/
.layui-layer-title{
    text-align: center;
    padding: 0 ;
    font-size: 30px;
    font-weight: 700;
}